{% extends "friendship/layout.html" %}


{% block body %}
    <div class="users-wrapper">
        {% for user in users %}
            <div class="card border border-dark" style="width: 18rem;" data-userId="{{user.id}}" >
                <a href="{% url 'profile' user.id %}"><img class="card-img-top" src="{{user.avatar}}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title"> {{user.username}} </h5>
                    <p class="card-text">{{ user.briefBio }}</p>
                    {% for passion in user.passions %}
                        <span class="badge badge-success">{{passion.name}}</span>
                    {% endfor %}
                    <div class="mt-5 request-control">
                        {% if user.id != request.user.id %}
                            {% if user.isFriend %}
                                <i class="fas fa-check-circle" title="Friends" style="color: green;"></i>
                            {% elif user.receivedRequest %}
                                <button  class="btn btn-danger" data-request-action="cancel">Cancel Request</button>
                            {% elif user.sentRequest %}
                                <p><strong> {{user.username}}</strong> sent you a friend request.</p>
                                <button  class="btn btn-success btn-sm" data-request-action="confirm">Confirm</button>
                                <button class="btn btn-danger btn-sm" data-request-action="remove">remove</button>
                            {% else %}
                                <button class="btn btn-primary" data-request-action="add">ِAdd Friend</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}