{% extends "friendship/layout.html" %}


{% block body %}
    <div class="users-wrapper">
        {% for user in users %}
            <div class="card" style="width: 18rem;" data-userId="{{user.id}}">
                <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title"> {{user.username}} </h5>
                <p class="card-text">{{ user.briefBio }}</p>
                {% for passion in user.passions %}
                    <span class="badge badge-primary">{{passion.name}}</span>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}