{% extends "friendship/index.html" %}


{% block header %}
    <div class="card mt-5">
        <div class="row ">
        <div class="col-md-4"  >
            <img src="{{viewdUser.avatar.url}}" class="w-100">
            </div>
            <div class="col-md-8 px-3">
            <div class="card-block px-3">
                <h4 class="card-title">{{viewdUser.username}}</h4>
                <p class="card-text">{{viewdUser.bio}}</p>
                {% for passion in viewdUser.passions %}
                        <span class="badge badge-success">{{passion.name}}</span>
                {% endfor %}
                <div class="mt-5 request-control" data-userId="{{viewdUser.id}}" >
                    {% if viewdUser.id != request.user.id %}
                        {% if viewdUser.isFriend %}
                            <i class="fas fa-check-circle" title="Friends" style="color: green;"></i>
                        {% elif viewdUser.receivedRequest %}
                            <button  class="btn btn-danger" data-request-action="cancel">Cancel Request</button>
                        {% elif viewdUser.sentRequest %}
                            <p><strong> {{viewdUser.username}}</strong> sent you a friend request.</p>
                            <button  class="btn btn-success btn-sm" data-request-action="confirm">Confirm</button>
                            <button class="btn btn-danger btn-sm" data-request-action="remove">remove</button>
                        {% else %}
                            <button class="btn btn-primary" data-request-action="add">ِAdd Friend</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            </div>

        </div>
        </div>
    </div>
{% endblock %}


{% block title %}
    <h1 class="ml-5 mt-5">Friends</h1>
{% endblock %}

{% block footer %}
    {% if not viewdUser.isFriend and viewdUser.id != request.user.id %}
        <div class="connection-container">
            {% if viewdUser.connectionLength != 0 %}
                <h4>Here is how you can get to know {{viewdUser.username}}.</h4>
            {% else %}
                <h4>There is no link between you and {{ viewdUser.username }}, get to know more people.</h4>
            {% endif %}
            <div class="connections-users">
                {% for user in viewdUser.shortestConnection %}
                    <a href="{% url 'profile' user.id %}"><img src="/{{user.avatar}}" class="rounded-circle" alt="Cinque Terre" title="{{user.username}}">
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}


{% endblock %}