{% extends "friendship/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Register</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            
            <div class="form-group">
                <textarea class="form-control" rows="3" name="bio" placeholder="Write Something About Yourself"></textarea>
            </div>

            <div class="form-group">
                <label for="avatar"><strong>Upload Your Avatar:</strong> </label>
                <input type="file" name="avatar" id="avatar">
            </div>
            <p><strong>Select Your Passions:</strong> </p>
            <div class="passions-container">
                {% for passion in passions %}
                    <div>
                        <input type="checkbox" name="passion" value="{{passion.id}}" id="passion{{passion.id}}">
                        <label for="passion{{passion.id}}">{{passion.name}}</label>
                    </div>
                {% endfor %}
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>

        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
    

{% endblock %}