.passions-container {
    margin-left: 30px;
}


.users-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.users-wrapper > * {
    margin: 20px;
}

.profile-info {
    padding: 14px;
}
.search-wrapper {
    position: relative;
    width: 100%;
}

.search-wrapper > * {
    width: 100%!important;
}

.search-result {
    position: absolute;
    z-index: 10;
}
.search-form {
    width: 300px;
}

.search-result-item .mutual-item {
    display: flex;
}
.search-result-item  img, .mutual-item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.mutual-body {
    display: flex;
    flex-direction: column;
}
.connection-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connection-container > *, .connections-users > * {
    margin: 10px;
}
.connections-users a::after {
    content: " --> ";
}
.connections-users a:last-child::after{
    content: "";
}
.connection-container img {
    width: 100px;
    height: 100px;
}

.connections-users  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}